/*Selector{
	Property: value;
}*/

body {
	background-image: url(backgroundimage1.jpg);
	background-size: cover;
}
h2 ,p{
	color: #170D07;
	text-align: center;
	border:  5px solid rgba(255, 116, 42, 0.5);
	cursor: pointer;
}

p:hover{
	color: darkblue;
}

li {
	list-style: none;
	display: inline-block;

}

#div1 {
	background: rgba(0, 0, 255, 0.2);
}

#div2 {
	background: rgba(255, 0, 0, 0.2);
}